.App {
  a {
    text-decoration: none;
  }

  hr {
    color: #cccccc;
  }

  .cart-header {
    background-color: #f6f6f7;

    .my-cart {
      text-align: right;
      margin: 0;
      padding: 1%;

      button {
        color: #888888;
        border: none;
        background-color: transparent;
      }

      a:hover {
        color: #222222;
      }
    }
  }

  .product-body {
    padding-top: 1%;

    .product-information {
      text-align: left;

      .product-name {
        font-weight: 400;
      }

      .product-price {
        font-weight: bold;
      }

      .product-description {
        color: #888888;
      }

      .size {
        #size-title {
          margin: 0;
          font-weight: 500;
          color: #888888;

          .required {
            color: #c90000;
          }

          .size-selected {
            color: #222222;
          }
        }

        .size-list {
          padding-left: 1%;

          button {
            width: fit-content;
            margin: 0 3px;
            padding: 0;
            border: none;
            background-color: transparent;
            outline: 1px solid #cccccc;
            outline-offset: -1px;

            .col-1 {
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #888888;
            }
          }

          .selected {
            outline: 2px solid #222222;
            outline-offset: -2px;

            .col-1 {
              color: #222222;
            }
          }
        }
      }
      .add-to-cart {
        margin-top: 15px;

        button {
          text-transform: uppercase;
          border: 2px solid #222222;
          background-color: white;
          color: #222222;
          font-weight: 700;
          padding: 3px 20px;
          transition: background-color 0.2s;

          &:hover {
            background-color: #222222;
            color: white;
          }
        }
      }
    }
  }
}
