$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

.App {
  a {
    text-decoration: none;
  }

  hr {
    color: #cccccc;
  }

  .cart-wrapper {
    border: 1px solid #cccccc;

    .cart-container {
      display: flex;
      flex-direction: column;

      .cart-header {
        height: 50px;
        display: flex;
        align-items: center;
        background-color: #f6f6f7;

        .my-cart {
          text-align: right;
          margin: 0;

          button {
            color: #888888;
            border: none;
            background-color: transparent;
          }

          .my-cart-active {
            border: 1px solid #cccccc;
            border-bottom: 1px solid white;
            height: 50px;
            background-color: white;
          }

          button:hover {
            color: #222222;
          }
        }
      }

      .cart-list-container {
        position: absolute;
        top: 51px;
        z-index: 2;
        text-align: left;

        .cart-list {
          border: 1px solid #cccccc;
          background-color: white;
          padding: 10px;
          overflow-y: auto;

          @media (max-width: 400px) {
            width: 300px;
          }

          .product-in-cart {
            width: 100%;
            margin-bottom: 10px;

            .product-name {
              margin: 0;
            }

            p {
              color: #222222;
            }

            img {
              max-width: 100px;
              height: auto;
            }
          }
        }
      }
    }
  }

  .product-body {
    padding-top: 1%;

    .product-information {
      text-align: left;

      .product-name {
        font-weight: 400;
      }

      .product-price {
        font-weight: bold;
      }

      .product-description {
        color: #888888;
      }

      .size {
        #size-title {
          margin: 0;
          font-weight: 500;
          color: #888888;

          .required {
            color: #c90000;
          }

          .size-selected {
            color: #222222;
          }
        }

        .size-list {
          padding-left: 1%;

          button {
            width: fit-content;
            margin: 0 3px;
            padding: 0;
            border: none;
            background-color: transparent;
            outline: 1px solid #cccccc;
            outline-offset: -1px;

            .col-1 {
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #888888;
            }
          }

          .selected {
            outline: 2px solid #222222;
            outline-offset: -2px;

            .col-1 {
              color: #222222;
            }
          }
        }
      }
      .add-to-cart {
        margin: 15px 0;

        button {
          text-transform: uppercase;
          border: 2px solid #222222;
          background-color: white;
          color: #222222;
          font-weight: 700;
          padding: 3px 20px;
          transition: background-color 0.2s;

          &:hover {
            background-color: #222222;
            color: white;
          }
        }
      }
    }
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;

    .popup-content {
      color: #222222;
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap-reverse;

      .close-btn {
        width: fit-content;
        padding: 0 7px;
        border: none;
        background-color: transparent;
        outline: 1px solid #222222;
        outline-offset: -1px;
        color: #222222;
      }
    }
  }
}
